<h1>Welcome</h1>

<p>Welcome to StoryBooks 1.0.0</p>

<p>Post stories and publish them for the world to see, or simply use StoryBooks as your own private diary.</p>

{{#if user}}
{{else}}
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google"></i> Login with Google</a>
{{/if}}